data/phase_1b1_identity_graph_ratification/official/* -text whitespace=-trailing-space,-space-before-tab,-blank-at-eof
data/phase_1b_historical_master_portable/source/** -text whitespace=-trailing-space,-space-before-tab,-blank-at-eof
data/phase_1b_historical_master_portable/published/** -text whitespace=-trailing-space,-space-before-tab,-blank-at-eof
